/* src/styles/globals.css */

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-header {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  z-index: 10;
}

.date-picker-wrapper {
  margin-left: .1px;
}

.date-picker-wrapper input {
  padding: 0.5rem;
  font-size: 1 rem;
}

.legend {
  display: flex;
  gap: .1px;
}

.legend span {
  padding: 0.3rem 0.7rem;
  border-radius: 0.1rem;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
}

.legend .low {
  background-color: #28a745; /* Green */
}

.legend .medium {
  background-color: #6c757d; /* Gray */
}

.legend .high {
  background-color: #fd7e14; /* Orange */
}

.legend .very-high {
  background-color: #dc3545; /* Red */
}

.legend .extreme {
  background-color: #6f42c1; /* Purple */
}

form {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

form input {
  flex-grow: 1;
}

form button {
  flex-shrink: 0;
}
